@import "/src/styles/tailwind.css";

html {
  font-size: 62.5%;
}

body {
  @apply 2xl:h-screen 2xl:flex 2xl:items-center 2xl:justify-center;
}

#root {
  @apply 2xl:w-full;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"]::-moz-focus-outer,
input[type="number"]::-moz-focus-outer {
  -moz-appearance: none;
}
